
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru-RU">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Детский сад № 183</title>
<%= stylesheet_link_tag 'application', :media => "all" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag params[:controller] %>
</head>
<body>
<div id="page">

<div id="lt">

<div id="header">
	<div id="headerimg">
		<h1>
			<%= link_to root_path do %>
				<font style='font-size:13px'>МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ ДОШКОЛЬНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ</font>
				&laquo;Центр развития ребёнка - детский сад № 183&raquo;
			<% end %>
		</h1>
		<div class="description"></div>
	</div>
</div>
	<div id="content" class="narrowcolumn">
		<div class="post" id="post-1">
			<div style="clear:both"></div>
		  	<div class="entry">
				<p><%= yield %></p>
			</div>
			<%= yield :post %>			
		</div>

		
		<div class="navigation">
			<div class="alignleft"></div>
			<div class="alignright"></div>
		</div>

	
	</div>
</div>

	<br/>
<br/><br/>
<div id="cat_top"></div>
	<div id="sidebar">
		<ul>
			<!-- <li>
				<form method="get" id="searchform" action="http://xtemplate.ru/prosmotr/">
<div><input type="text" value="" name="s" id="s" />
<input type="submit" id="searchsubmit" value="Искать" />
</div>
</form>
			</li> -->

			<li><h2>Контактная информация</h2>
			<p>Воронеж, Рижская, 8а</p>
			<p>факс: (473) 221-80-68</p>
			</li>
			
						
			<li class="pagenav"><h2>Страницы</h2>
				<ul>
					<%- Article.roots.each do |art| %>
						<li class="page_item page-item-2">
							<%= link_to_unless_current art.title, article_path(art) %>
						</li>
						<%- if @article && @article == art %>
							<%- @article.children.each do |art_child| %>
								<li class="page_item page-item-2" style="margin-left:10px;">
									<%= link_to_unless_current truncate(art_child.title, :ommission => '...', :length => 25), article_path(art_child), :title => art_child.title %>
								</li>
							<% end %>
						<%- elsif @article && @article.parent == art %>
							<%- @article.parent.children.each do |art_child| %>
								<li class="page_item page-item-2" style="margin-left:10px;">
									<%= link_to_unless_current truncate(art_child.title, :ommission => '...', :length => 25), article_path(art_child), :title => art_child.title %>
								</li>
							<% end %>
						<% end %>					
					<% end %>
</ul></li>
			
				<li><h2>Галлерея</h2>
				<ul>
					<%- Galery.all.each do |gal| %>
						<li>
							<%= link_to_unless_current gal.name, galery_path(gal) %>
						</li>
					<% end %>
				</ul>
				</li>
		</ul>
		<div id="cat_bot"></div>
	</div>
	


﻿<div id='pad_foot'>
<div id='footer'>
	<p>
<font size="1">Создание и продвижение сайтов в Воронеже: <a href="http://mlip.ru/" title="разработка и продвижение сайта ARTLevelDesign">ARTLevelDesign</a></font>
	</p>
</div>
</div>
</div>
</body>
</html>