!!! Strict
%html
  %head
    %title
    %meta{ :content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type' }
    %link{ rel: 'shortcut icon', href: '/favicon.ico', type: 'image/x-icon' }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = stylesheet_link_tag params[:controller]
    = javascript_include_tag params[:controller]
    = csrf_meta_tags
  %body
    = yield
